.introPage{
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#layer_1{
  width: 50%;
  margin-bottom: 34px;
  -webkit-animation: bulb 6s forwards;
  animation: bulb 1s forwards;
  animation-delay: 2.5s;
}

.st1{fill:#333333;}
.st2{fill:#666666;}

.st0{
  fill:#ffc800;
  stroke:#000000;
  stroke-width:0.4875;
  stroke-miterlimit:10;
  -webkit-animation: lightAnimation 3s forwards;
  animation: lightAnimation 3s forwards;
  transition: 0.3s;
}

.makeMeVisible{
  opacity: 0;
  -webkit-animation: visibility 1s forwards;
  animation: visibility 1s forwards;
  animation-delay: 4s;
}

.makeMeVisible a{
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  background: #e67300;
  transition: 0.3s;
}

.makeMeVisible a:hover{
  background: #ff8000;
  transition: 0.3s;
}

@keyframes visibility{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes bulb {
  25% {width: 50%;}
  50% {width: 50%;}
  75% {width: 50%;}
  100% {width: 25%;}
}

@keyframes lightAnimation {
  25% {fill: #DDDDDD;}
  50% {fill: #ffc800;}
  75% {fill: #DDDDDD;}
  100% {fill: #ffc800;}
}
