*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr{
  width: 60%;
  margin: 0 auto 10px;
}

.body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
}

.body a {
  text-decoration: none;
  flex-basis: 30%;
  color: #A8201A;
}

.choose {
  padding: 30px;
}

.divWithBulb{
  display: flex;
}

.topOfPage{
  width: 100%;
  background: #7EB77F;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

.restOfPage{
  width: 100%;
  height: 90%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
}

.restOfPage a{
  text-decoration: none;
  flex-basis: 30%;
  color: #A8201A;
}

.column{
  height: 100%;
  flex-basis: 30%;
  padding-top: 250px;
  background-color:#EC9A29;
  border-radius: 5px;
  font-family: sans-serif;
}

.voteButton{
  height: 100%;
  flex-basis: 30%;
  background-color:#fff;
}


.voteButton i{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
  padding-bottom: 150px;
  font-size: 120px;
}

.topPage{
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topPage h2{
  margin-bottom: 10px;
}

.lesson{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.lesson div{
  width: 75%;
}

.lesson div h2{
  padding-bottom: 10px;
  text-align: center;
}

.commentsPortion{
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.commentsPortion form{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentsPortion form textarea{
  margin: 0 70px;
  padding: 10px 0 0 20px;
  border-radius: 5px;
}

.commentsPortion form button{
  width: 300px;
  margin: 10px auto 0;
  padding: 10px 20px;
  border-radius: 5px;
}

.commentsPortion hr{
  margin: 10px auto;
}

.registerBody{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerForm{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.registerForm input{
  width: 300px;
  height: 50px;
  margin: 10px auto;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.registerForm button{
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.thanksPageDiv{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thanksPageDiv p{
  font-size: 20px;
}

.thanksPageDiv .firstP{
  font-size: 30px;
}

.thanksPageDiv a{
  margin-top: 10px;
  padding: 10px 40px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
}


.geezeo-budgets {
  width: 100%;
  max-width: 850px;
  margin: auto;
}
