*{
  margin: 10;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  background: #3D3B30;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
  color: white;
  justify-content: space-between;
}

.header2 {
  text-align: right;
}


.comments{
  margin-top: 40px;
  text-align: center;
}

.input{
  width: 40%;
  height: 30px;
}

input[type="submit"]{
  width: 10%;
  height: 4000px;
}

.commentsPortion {
  text-align: center;
}


.voting2{
  display: flex;
  justify-content: center;
}


.voting{
  display: flex;
  justify-content: center;
}

.add {
  border: none;
  font-size: 20px;
  padding: 0px;
  color: green;
  background-color: rgba(0,0,0,0);
}

.subtract {
  border: none;
  font-size: 20px;
  padding: 0px;
  color: red;
  background-color: rgba(0,0,0,0);
}
