*{
  margin: 10;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: center;
}

.header {
  background-color: lightpink;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
}


.comments{
  margin-top: 40px;
}

.input{
  width: 30%;
}

.commentsPortion {
  text-align: left;
}


.voting2{
  display: flex;
  justify-content: center;
}


.voting{
  display: flex;
  justify-content: center;
}
