<!DOCTYPE html>
<html>
  <head>
     <title>Environment</title>
     <link rel="stylesheet" type="text/css" href="../css/environment.css">
     <script src="https://kit.fontawesome.com/a6e87818b4.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  </head>
  <body>


    <div class="body">
      <div class="topOfPage">
          <div class="divWithBulb">
              <div class="GGbutton">
                <a href="/home"><h1>GET <span>GREEN</span></h1></a>
              </div>
          </div class="divWithBulb2">
          <h2>Let's Knock Your Gas Off</h2>
          <div>
            <h4><a class="hoverMe" href="{{signOut}}">Log out</a></h4>
          </div>
      </div>
    </div>

      <canvas id="myChart"></canvas>
      <form action="/environment" method="post">
        <textarea name="comment" rows="8" cols="100" placeholder="Comment"></textarea>
        <button type="submit">Submit</button>
      </form>

      <div class="commentsPortion">
        <div class="commentMade">
          <div class="topHolder">
            <p>{{appUser}}</p>
          </div>
          <p>{{comment}}</p>
        </div>
        <hr>
        {% if allEnvComments %}
          {% for i in allEnvComments %}
            <div class="commentMade">
              <div class="topHolder">
                <p>{{i.ownerName}}</p>
              </div>
              <p>{{i.comment}}</p>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
      </div>




  <script src="../js/main.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script>

    function makeRandomNumber(min, max){
      return Math.random() * (max - min) + min;
    }


    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar' ,
        data: {
            labels: ['12pm', '1pm', '2pm', '3pm', '4pm', '5pm'],
            datasets: [{
                label: 'Gas (Liters)',
                data: ["500"],
                label: 'Gas',
                data: [makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500)],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            },{
                label: 'Plastic (Pounds)',
                data: ["185"],
                label: 'Plastic',
                data: [makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600)],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            },{
                label: 'Electricity (Kwh)',
                data: ["10,766"],
                label: 'Electricity',
                data: [makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150)],

                backgroundColor: [
                    'rgba(255, 156, 36, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 156, 36, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    setInterval(function(){
      removeData(myChart);
      addData(myChart);
    }, 5000)

  </script>
  </body>
</html>
