<!DOCTYPE html>
<html>
<head>
   <title>Stocks</title>
   <link rel="stylesheet" type="text/css" href="../css/main.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
</head>

<body>

  <div class="body2">
    <div class="topOfPage">
        <div class="divWithBulb">
          <a href="/home"><h1>GET <span>GREEN</span></h1></a>
        </div class="header">
        <h2>Let's Knock Your Stocks Off</h2>
        <div>
          <h4><a class="hoverMe" href="{{signOut}}">Log out</a></h4>
        </div>
    </div>

    <div class="topPage">
        <canvas id="myChart"></canvas>
    </div>

    <div class="lesson">
        <div class="">
          <h2>Why Invest?</h2>
          <ol>
            <li>You can grow your money.</li>
            <li>Save that money for retirement.</li>
            <li>Reach your financial goals easier.</li>
            <li>Start and expand a busiess.</li>
            <li>Support others.</li>
            <li>Start a new venture.</li>
            <li>Because why not?</li>
          </ol>
        </div>
        <div class="howToInvest">
          <h2>How To Invest</h2>

        </div>
    </div>

    <hr>

  <div class="commentsPortion">
    {% if not allStockComments %}
      <p>No comments currently exist. Be the first to add one!</p>
    {% endif %}
    {% if allStockComments %}
      {% for i in allStockComments %}
        <div class="commentMade">
          <div class="topHolder">
            <p>{{i.ownerName}}</p>
            <p>{{i.time}}</p>
          </div>
          <p>{{i.comment}}</p>
        </div>
      <hr>
      {% endfor %}
    {% endif %}

    <form action="/financial" method="post">
      <textarea name="comment" rows="8" cols="100" placeholder="Comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script>

    function makeRandomNumber(min, max){
      return Math.random() * (max - min) + min;
    }

    function addData() {
      for(i = 0; i < myChart.data.datasets.length; i++){
        if(myChart.data.datasets[i].label === "AMZN"){
          var lm = makeRandomNumber(900, 2500);
          myChart.data.datasets[i].data.push(lm);
        }else if(myChart.data.datasets[i].label === "GOOGL"){
          myChart.data.datasets[i].data.push(makeRandomNumber(900, 1600));
        }else if(myChart.data.datasets[i].label === "NASDAQ"){
          myChart.data.datasets[i].data.push(makeRandomNumber(50, 150));
        }else if(myChart.data.datasets[i].label === "TSLA"){
          myChart.data.datasets[i].data.push(makeRandomNumber(200, 600));
        }
        myChart.update();
      }
        // chart.data.labels.push(label);
        // chart.data.datasets.forEach((dataset) => {
        //     dataset.data.push(data);
        // });
    }

    function removeData() {
      for(i = 0; i < myChart.data.datasets.length; i++){
        myChart.data.datasets[i].data.shift();
        myChart.update();
      }
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line' ,
        data: {
            labels: ['12pm', '1pm', '2pm', '3pm', '4pm', '5pm'],
            datasets: [{
                label: 'AMZN',
                data: [makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500)],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            },{
                label: 'GOOGL',
                data: [makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600)],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            },{
                label: 'NASDAQ',
                data: [makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150)],
                backgroundColor: [
                    'rgba(255, 156, 36, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 156, 36, 1)'
                ],
                borderWidth: 1
            },{
                label: 'TSLA',
                data: [makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600)],
                backgroundColor: [
                    'rgba(102, 255, 36, 0.2)'
                ],
                borderColor: [
                    'rgba(102, 255, 36, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    setInterval(function(){
      removeData(myChart);
      addData(myChart);
    }, 5000)

  </script>

</body>
</html>
