<!DOCTYPE html>
<html>
<head>
   <title>Stocks</title>
   <link rel="stylesheet" type="text/css" href="../css/main.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
</head>

<body>

  <div class="body2">
    <div class="topOfPage">
        <div class="divWithBulb">
          <a href="/home"><h1>GET <span>GREEN</span></h1></a>
        </div>
        <div class="header">
        <h2>Let's Knock Your Stocks Off</h2>
      </div>
        <div>
          <h4><a class="hoverMe" href="{{signOut}}">Log out</a></h4>
        </div>
    </div>

    <div class="topPage">
        <canvas id="myChart"></canvas>
    </div>

    <div class="lesson">
        <div class="divInLesson">
          <h2>Why Invest?</h2>
          <p>Investing is becoming more and more popular, but there are still plenty of people who don't understand
          how it works or how to start. Investing is beneficial to a person's future. A person like Warren Buffett has made
        loads on loads of money thanks to his investments. You should invest because:</p>
          <ul>
            <li>You can grow your money.</li>
            <li>Save that money for retirement.</li>
            <li>Reach your financial goals easier.</li>
            <li>Start and expand a busiess.</li>
            <li>Support others.</li>
            <li>Start a new venture.</li>
            <li>Why not?</li>
          </ul>
        </div>
        <div class="divInLesson howToInvest">
          <h2>How Does It Work?</h2>
          <p>In simple terms, a stock is a portion of a company a person can buy. Depending on many factors(what the company CEO
          did, if a new product is coming out, etc.) the price of the stock can increase or decrease. A person buys a stock and can wait for the
          price to increase before selling it to someone else. Some companies might even supply share holders with money as a token
          of grattitude.</p>
        </div>
        <div class="divInLesson howToInvest">
          <h2>"How do I start?"</h2>
          <p>To start, it would be a good idea to do research on companies you plan to get stocks from. Notice the trends of the stock
          prices. Let's say, for example, that Apple releases a new product each year. You also notice that their stock prices tend to decrease
          around April but rise right after the new product release. It would then be smart to buy Apple stocks when they are low at
          April to make a profit after the product release.</p>
          <p>Be sure to put aside some money incase your plan doesn't go well. It is never a good idea to go all in on one stock and hope for the best.
          As a rule of thumb, you should be willing to lose a max of a sixth of your money.</p>
          <p>You also have to choose a broker. A broker is basically a person or company that manages the transaction you're making with
          the other person involved. The broker will also charge a comission fee.</p>
          <p>Also, remember to follow what the professionals do. If a person like Buffett predicted Apple stock would fall or rise, be sure to take
           necessary actions.</p>
        </div>
        <div class="divInLesson howToInvest linksDiv">
          <h2>Useful Links</h2>
          <a href="https://www.forbes.com/markets/#63f34f191fbf">Forbes Stock Makets</a>
          <a href="https://www.cnbc.com/stocks/">CNN Stocks</a>
          <a href="https://www.etoro.com/en-us/">Etoro</a>
        </div>
    </div>

    <hr>

    <div class="commentsPortion">
      <div class="commentMade">
        <div class="topHolder">
          <p>{{appUser}}</p>
        </div>
        <p>{{comment}}</p>
      </div>
    <hr>
    {% if allStockComments %}
      {% for i in allStockComments %}
        <div class="commentMade">
          <div class="topHolder">
            <p>{{i.ownerName}}</p>
            <p>{{i.time}}</p>
          </div>
          <p>{{i.comment}}</p>
        </div>
      <hr>
      {% endfor %}
    {% endif %}

    <form action="/financial" method="post">
      <textarea name="comment" rows="8" cols="100" placeholder="Comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script>

    function makeRandomNumber(min, max){
      return Math.random() * (max - min) + min;
    }

    function addData() {
      for(i = 0; i < myChart.data.datasets.length; i++){
        if(myChart.data.datasets[i].label === "AMZN"){
          var lm = makeRandomNumber(900, 2500);
          myChart.data.datasets[i].data.push(lm);
        }else if(myChart.data.datasets[i].label === "GOOGL"){
          myChart.data.datasets[i].data.push(makeRandomNumber(900, 1600));
        }else if(myChart.data.datasets[i].label === "NASDAQ"){
          myChart.data.datasets[i].data.push(makeRandomNumber(50, 150));
        }else if(myChart.data.datasets[i].label === "TSLA"){
          myChart.data.datasets[i].data.push(makeRandomNumber(200, 600));
        }
        myChart.update();
      }
        // chart.data.labels.push(label);
        // chart.data.datasets.forEach((dataset) => {
        //     dataset.data.push(data);
        // });
    }

    function removeData() {
      for(i = 0; i < myChart.data.datasets.length; i++){
        myChart.data.datasets[i].data.shift();
        myChart.update();
      }
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line' ,
        data: {
            labels: ['12pm', '1pm', '2pm', '3pm', '4pm', '5pm'],
            datasets: [{
                label: 'AMZN',
                data: [makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500), makeRandomNumber(900, 2500)],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            },{
                label: 'GOOGL',
                data: [makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600), makeRandomNumber(900, 1600)],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            },{
                label: 'NASDAQ',
                data: [makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150), makeRandomNumber(50, 150)],
                backgroundColor: [
                    'rgba(255, 156, 36, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 156, 36, 1)'
                ],
                borderWidth: 1
            },{
                label: 'TSLA',
                data: [makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600), makeRandomNumber(200, 600)],
                backgroundColor: [
                    'rgba(102, 255, 36, 0.2)'
                ],
                borderColor: [
                    'rgba(102, 255, 36, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    setInterval(function(){
      removeData(myChart);
      addData(myChart);
    }, 5000)

  </script>

</body>
</html>
