<!DOCTYPE html>
<html>
  <head>
     <title>Request a new room</title>
     <link rel="stylesheet" type="text/css" href="../css/vote.css">
     <script src="https://kit.fontawesome.com/a6e87818b4.js"></script>
  </head>
  <body>

    <div class="body2">
      <div class="topOfPage">
          <div class="divWithBulb">
            <a href="/home"><h1>GET <span>GREEN</span></h1></a>
          </div>
          <h2>Want to create a <span>green room</span> to discuss new topics?</h2>
          <div>
            <h4><a class="hoverMe" href="{{signOut}}">Log out</a></h4>
          </div>
      </div>

    <div class="body">
      <div class="header">
        <!-- <h2>
          Want to create a <span>green room</span> to discuss new topics?
        </h2> -->
            <h3>
              Look through other suggestions and upvote if you see what you like.
              If you want a new topic, suggest your own!
            </h3>
      </div>
    </div>



      <div class="commentsPortion">
        <div class="commentMade">
          <div class="topHolder">
            <h4>{{appUser}}</h4>
                <p>{{comment}}</p>
          </div>
        </div>
        <hr>
        {% if not allVoteComments %}
          <p>No suggestions currently exist. Be the first to add one!</p>
        {% endif %}
        {% if allVoteComments %}
          {% for i in allVoteComments %}
            <div class="commentMade">
              <div class="topHolder">
                <h4>User: {{i.ownerName}}</h4>
              </div>
              <p>Topic: {{i.comment}}</p>
                <div class="voting">
                  <button class="add"><i class="far fa-arrow-alt-circle-up"></i></button>
                  <p class="giveMeOne">0</p>
                  <button class="subtract"><i class="far fa-arrow-alt-circle-down"></i></button>
                </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
    </div>


      <div class="comments">
        <form action="/vote" method=POST>
          New Topic:
            <input class="input" name="comment" type="text" placeholder="Insert the green topic you want to discuss">
          <br><br>
          <input type="submit" value="Submit">
        </form>
      </div>



  <script src="../js/main.js"></script>
  </body>
</html>
