<!DOCTYPE html>
<html>
  <head>
     <title>Request a new room</title>
     <link rel="stylesheet" type="text/css" href="../css/vote.css">
     <script src="https://kit.fontawesome.com/a6e87818b4.js"></script>
  </head>
  <body>

    <div class="body">
      <div class="header">
        <h2>
          Want to create a room to discuss new topics?
        </h2>
        <h3>
          Look through other suggestions and upvote if you see what you like.
          If you want a new topic, suggest your own!
        </h3>
      </div>

      <div class="comments">
        <form action="/vote" method=POST>
          New Topic:
          <input name="comment" type="text" placeholder="Write the topic you want to discuss">
          <br><br>
          <input type="submit" value="Submit">
        </form>
      </div>



      <div class="commentsPortion">
        <div class="commentMade">
          <div class="topHolder">
            <h4>{{appUser}}</h4>
          </div>
          <p>
            {{comment}}
            <div class="voting2">
              <button class="add">+</button>
              <p class="giveMeOne">0</p>
              <button class="subtract">-</button>
            </div>
          </p>

        </div>
        <hr>
        {% if not allVoteComments %}
          <p>No suggestions currently exist. Be the first to add one!</p>
        {% endif %}
        {% if allVoteComments %}
          {% for i in allVoteComments %}
            <div class="commentMade">
              <div class="topHolder">
                <h3>{{i.ownerName}}</h3>
              </div>
              <p>{{i.comment}}</p>
                <div class="voting">
                  <button class="add">+</button>
                  <p class="giveMeOne">0</p>
                  <button class="subtract">-</button>
                </div>
            </div>
            <hr>
          {% endfor %}
        {% endif %}
    <div>


  <script src="../js/main.js"></script>
  </body>
</html>
